* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: gray;
  text-decoration: none;
}

.home-page {
  width: 100%;
  height: 400px;
  background-image: url(../src/assest/home2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10%;
}
.home-content .content {
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content input {
  width: 50%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: whitesmoke;
  padding: 10px;
}

.home-content button {
  height: 40px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid rgb(20, 121, 230);
  background-color: rgb(20, 121, 230);
  color: white;
}
.home-content button:hover {
  cursor: pointer;
  background-color: rgb(45, 143, 248);
}

.foods {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0px;
}
.food-content {
  margin: 0px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 40px;
}
.food-content .food-card {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}
.food-content .food-card p {
  position: relative;
  top: 400px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.food-content .one {
  background-image: url(../src/assest/cardone.jpeg);
  background-size: cover;

}
.food-content .two {
  background-image: url(../src/assest/Pizza.jpeg);
  background-size: cover;

}

.food-content .three {
  background-image: url(../src/assest/Momo.jpeg);
  background-size: cover;

}

.food-menu {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: whitesmoke;
  text-align: center;
}

.food-menu-content {
  margin: 0px 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 0px;
}

.menu-card {
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  gap: 20px;
}
.menu-card h3 {
  font-size: 16px;
  font-weight: inherit;
}
.menu-card p {
  font-size: 14px;
}
.menu-card button {
  background-color: rgb(20, 121, 230);
  border-radius: 4px;
  border: rgb(20, 121, 230);
  color: white;
  padding: 5px;

}
.menu-card button:hover {
  cursor: pointer;
  background-color: rgb(45, 143, 248);
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .home-content {
    margin: 0px 7%;
  }
  .food-content {
    margin: 0px 7%;

  }
  .food-menu-content {
    margin: 0px 7%;
  }
  .food-content .food-card {
    height: 400px;
  }
  .food-content .food-card p {
    top: 350px;
  }
}


@media screen and (max-width: 860px) {
  .food-content {
    gap: 15px;
  }
  .food-content .food-card {
    height: 350px;
  }
  .food-content .food-card p {
    top: 300px;
  }
  
}
@media screen and (max-width: 780px) {
  .home-content input {
    width: 70%;
  }
  
}

@media screen and (max-width: 680px) {
  .food-content .food-card {
    height: 300px;
  }
  .food-content .food-card p {
    top: 250px;
  }  
  .food-menu-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .food-content {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 400px) {
  .food-content {
    grid-template-columns: repeat(1, 1fr);
  }
  
}